body{
  margin:0;
}

.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
}


ul.nav.nav-tabs.pane{
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
}

.navbar{
  background-repeat:no-repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  -webkit-filter:none;
  filter:none;
  -webkit-box-shadow:0 1px 10px rgba(0,0,0,0.1);
  box-shadow:0 1px 10px rgba(0,0,0,0.1);
}

div.Conteneur{
  max-height:100px;
  overflow: hidden;
}

div.container-fluid.pane{
  height:100%;
  background-color: #222;
}

hr{
  margin-top:10px;
  margin-bottom:10px;
  border:0;
}

hr.separator{
  border-bottom-color:gray;
  border-bottom:1px solid;
}

div.col-md-3.but{
  padding-top:2%;
}

.navbar{
  position:relative;
  min-height:50px;
  border:1px solid transparent;
}

div.col-md-2.td{
  padding-top:2%;
}

div.col-md-2.but{
  padding-top:2%;
}

